.THIS .input {
    min-height: 1.875rem;
    border: none !important;
    box-shadow: none !important;
    background: transparent !important;
}
.THIS .input:active {
    outline: 0;
}
.THIS .pillContainerListItem:focus {
    outline: none;
}
.THIS .loadingIndicator {
    position: relative;
}
.THIS .loadingIndicator .background {
    opacity: 1;
}
.THIS .input:focus {
    border: none;
    box-shadow: none;
    background: transparent;
}
.THIS .focused {
    border: solid 1px rgb(21, 137, 238);
    border-radius: .25rem;
    box-shadow: 0 0 3px #0070d2;
}
.THIS .item-second-label {
    font-size: .72rem;
}
.THIS .container-readonly {
    background-color: rgb(236, 235, 234);
    border-color: #a8b7c7;
    min-height: 1.875rem;
}
.THIS .pillContainerWrapper .pill .slds-icon--small {
    width: 1.3rem;
    height: 1.3rem;
}
.THIS .searchBox .searchBoxInner .slds-form-element__label {
    display: none;
}
.THIS .searchBox .searchBoxInner .slds-input {
    height: 2.5rem;
}
.THIS .autocompleteWrapper .uiInput--lookup.lookup__menu {
    width: 100%;
}
.THIS .uiPillContainer--default {
    line-height: 22px;
}
.THIS .uiPillContainer .pillContainerListItem .uiPill {
    display: flex;
}
.THIS .uiPillContainer .pillContainerListItem .uiPill .pillIcon {
    margin-top: auto;
    margin-bottom: auto;
}
.THIS .uiPillContainer .pillContainerListItem .uiPill .pillText {
    flex: 1;
}
.THIS .uiPillContainer .pillContainerListItem .uiPill a {
    background-color: transparent;
    box-shadow: none;
}
.THIS .pillIcon svg.slds-icon {
    max-width: 100%;
    max-height: 100%;
}